.profile-content {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    background-color: #32363a;
	padding: 15px 0 15px 20px;
    border-radius: 9px;
    color: #c3c4c6;
}

.user-profile-picture {
    margin-right: 2%;
    max-width: 15%;
    height: auto;
    float: left;
    border-radius: 90px;
    box-sizing: border-box;
    border: #0a3b65 solid 8px;
}

.user-profile-name {
    font-size: 20px;
}

.user-bio {
    font-size: 16px;
}

.last_posts {
    margin-left: 5%;
}