.label {
    color: #c3c4c6;
}

.text-input {
    width: 30%;
    background-color: #5f6366;
    box-shadow: none;
    border: black solid 1px;
    color: #c3c4c6;
}

.link {
    width: 85%;
    background-color: #5f6366;
    border: black solid 1px;
    color: #c3c4c6;
}

.bio-text {
    resize: none;
    background-color: #5f6366;
    border: black solid 1px;
    color: #c3c4c6;
}

.profile-form {
    text-align: center;
    margin-top: 8%;
}

.submit-button {
    margin: 5px;
    background: #0a3b65;
    border-radius: 20px;
    border: solid 1px transparent;
    color: #fff;
    font-size: 16px;
}

.submit-button:hover {
    background-color: transparent;
    border-color: #fff;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 620px;
    display: table;
    grid-template-columns: 300px;
    grid-template-rows: 100px;
    border-radius: 18px;
    background: #2c3034;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.6);
    text-align: center;
    font-size: 18px;
    margin:auto;

    transition: 0.5s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
}