/***********/
/* General */
/***********/
body, html{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #2c2f33;
    font-family: Calibri, arial, serif;
}

p, h1, h2, h3, h4, h5, h6, a, li{
    color: #c3c4c6;
    overflow-wrap: break-word;
}


/************************/
/* Structure de la page */
/************************/
.main-container{
    display: flex;
    justify-content: normal;
    flex-direction: row;
    height: 100%;
}

.main-container > .left-menu, .right-menu{
    height: 100%;
    padding: 10px 5px 0 5px;
    margin: 0;
}

.left-menu{
    width: 25%;
}

.content{
    width: 55%;
    height: 100%;
}

.content, .the_posts{
    background-color: #383d41;
}

.right-menu{
    padding: 10px;
    width: 20%;
}


/**********************/
/* Menu des subquinox */
/**********************/
.sub_list{
    padding: 0 0 0 20px;
    margin: 0;
    width: 90%;
}

.sub_list > li{
    list-style: none;
    min-height: 40px;
    background-color: #32363a;
    margin-bottom: 20px;
	padding: 10px 0 10px 10px;
    border-radius: 5px;
}

.sub_list .current_page{
    background-color: #c3c4c6;
}

.sub_img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.sub_list > li > a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    height: 40px;
    word-break: break-all;
}

.sub_list > li > a:hover{
    color: #9e9ea2;
}

.sub_list > .current_page > a > h4{
    color: #2c2f33;
}

.sub_list > .current_page > a:hover{
    color: #353535;
}


/******************/
/* Menu de droite */
/******************/
.right_top_menu{
    position: relative;
    margin: 0;
    padding: 0 30px 0 30px;
    justify-content: end;
    height: 85px;
}
.user_profile_pic{
    width: 85px;
    position: absolute;
    left: max(calc(50% - 42px), 30px);
    top: 0;
}

.settings_icon{
    width: 10%;
    min-width: 30px;
    max-width: 50px;
    position: absolute;
    left: max(calc(50% - 92px), 5px);
    bottom: 0;
}

.right_side_menu{
    width: 75%;
}



.right_side_menu > li{
    list-style: none;
    height: 40px;
    background-color: #32363a;
    margin-bottom: 20px;
	padding: 10px 0 10px 15px;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
    border-radius: 9px;
}

.right_side_menu >li > a > .icon{
    height: 35px;
    margin-right: 20px;
}

.right_side_menu .current_page{
    background-color: #c3c4c6;
}

.right_side_menu > li > a{
    display: flex;
    line-height: 45px;
    font-size: 22px;
    width: 80%;
    text-decoration: none;
    font-weight: bold;
    color: #C0C0C0;
}
@media only screen and (max-width: 1000px) {
    .right_side_menu > li > a > .link_text {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .right_side_menu > li > a > .link_text {
        display: block;
    }
}

.right_side_menu > li > a:hover{
    color: #9e9ea2;
}

.right_side_menu > .current_page > a{
    color: #2c2f33;
}

.right_side_menu > .current_page > a:hover{
    color: #353535;
}


/********************/
/* Feed (les posts) */
/********************/
.content_title, .sub_title{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

.the_posts{
    margin-left: auto;
    margin-right: auto;
}


.single_post{
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
    background-color: #2c2f33;
    border-radius: 5px;
    padding: 3px 8px 3px 8px;
}

.post_identity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #383d41 solid 1px;
}

.post_image{
    max-width: 100%;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.post_feedback{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    border-top: #383d41 solid 1px;
}

.post_likes, .post_dislikes{
    margin: 5px 0 5px 0;
    min-width: 85px;
    height: 35px;
    background-color: #383d41;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 3px #2d2d2d;
}

.post_likes:hover, .post_dislikes:hover{
    background-color: #35383b;
}

.post_dislikes:active, .post_likes:active{
    box-shadow: 0 1px #000000;
    transform: translateY(2px);
}

.post_likes{
    color: #3455ac;
    margin-right: 50px;
}

.post_dislikes{
    color: #993b3b;
}

/**********************/
/* Suggestions d'amis */
/**********************/

.sug_list{
    padding: 0 0 0 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.single_sug{
    list-style: none;
    min-height: 40px;
    background-color: #2c2f33;
    margin-bottom: 20px;
	padding: 10px 30px 10px 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sug_profile_picture{
    height: 40px;
    width: 40px;
}

.sug_identity{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.sug_username{
    margin-left: 20px;
}

.sug_abo{
    min-width: 85px;
    height: 35px;
    background-color: #383d41;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 3px #2d2d2d;
    color: #82828a;
}

.sug_abo:active{
    box-shadow: 0 1px #000000;
    transform: translateY(2px);
}

.sub_abo:hover{
    background-color: #35383b;
}
