
body, html{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #2c2f33;
    font-family: Calibri, arial, serif;
}

p, h1, h2, h3, h4, h5, h6, a, li{
    color: #82828a;
    overflow-wrap: break-word;
}

.main-container{
    display: flex;
    justify-content: normal;
    flex-direction: row;
    height: 100%;
}

.main-container > .left-menu, .right-menu{
    height: 100%;
    padding: 10px 5px 0 5px;
    margin: 0;
}

.left-menu{
    width: 25%;
}

.content{
    width: 55%;
    height: 100%;
}

.content, .the_posts{
    background-color: #383d41;
}

.right-menu{
    padding: 10px;
    width: 20%;
}

.sub_list{
    padding: 0 0 0 20px;
    margin: 0;
    width: 90%;
}

.sub_list > li{
    list-style: none;
    min-height: 40px;
    background-color: #25282b;
    margin-bottom: 20px;
	padding: 10px 0 10px 50px;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
    border-radius: 5px;
}

.sub_list > li > a{
    text-decoration: none;
    line-height: 35px;
    font-size: 20px;
}

.sub_list > li > a:hover{
    color: #9e9ea2;
}

.right_top_menu{
    position: relative;
    margin: 0;
    padding: 0 30px 0 30px;
    justify-content: end;
    height: 85px;
}
.user_profile_pic{
    width: 85px;
    position: absolute;
    right: 0;
    top: 0;
}

.settings_icon{
    width: 10%;
    min-width: 30px;
    max-width: 50px;
    position: absolute;
    right: 90px;
    bottom: 0;
}

.right_side_menu{
    width: 75%;
}

.right_side_menu > li{
    list-style: none;
    height: 40px;
    background-color: #292c30;
    margin-bottom: 20px;
	padding: 10px 0 10px 80px;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
    border-radius: 15px;
}

.right_side_menu .current_page{
    background-color: #9e9ea2;
}

.right_side_menu > li > a{
    line-height: 45px;
    font-size: 22px;
    width: 80%;
    text-decoration: none;
    font-weight: bold;
    color: #82828a;
}

.right_side_menu > li > a:hover{
    color: #9e9ea2;
}

.right_side_menu > .current_page > a{
    color: #2c2f33;
}

.right_side_menu > .current_page > a:hover{
    color: #353535;
}

.content_title, .sub_title{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

.the_posts{
    margin-left: auto;
    margin-right: auto;
}


.single_post{
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
    background-color: #2c2f33;
    border-radius: 5px;
    padding: 3px 8px 3px 8px;
}

.post_identity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #383d41 solid 1px;
}

.post_image{
    max-width: 100%;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
}