{% extends 'base.html' %}
{% block title %}{{ comm.get_name() }}{% endblock %}

{% block left %}
    <h2 class="sub_title">Subquinox:</h2>
    <ul class="sub_list">
        {% for sub in subs %}
            {% if sub.get_id() == comm.get_id() %}
                <li class="current_page"><a href="/community?comm={{ sub.get_id() }}"><img class="sub_img" src="{{ sub.get_icon_link() }}"><h4>{{ sub.get_name() }}</h4></a></li>
            {% else %}
                <li><a href="/community?comm={{ sub.get_id() }}"><img class="sub_img" src="{{ sub.get_icon_link() }}"><h4>{{ sub.get_name() }}</h4></a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <h2 class="content_title">Communauté {{ comm.get_name() }}</h2>
    <div class="the_posts">
    {% for post in posts %}
        <div class="single_post">
            <div class="post_identity">
                <a href="/profile?user={{ post[0].get_user().get_id() }}" class="post_author">{{ post[0].get_author() }}</a>
                {% if post[0].has_community() %}
                <p class="post_community">Subquinox : {{ post[0].get_community().get_name() }}</p>
                {% endif %}
                <p class="post_date">{{ post[0].get_date() }}</p>
            </div>
            <h4 class="post_title">{{ post[0].get_title() }}</h4>
            {% if post[0].has_image() %}
            <img class="post_image" src='{{ post[0].get_image() }}' alt="post" />
            {% endif %}
            <p class="post_content">{{ post[0].get_text() }}</p>
            <div class="post_feedback">
                <form action="/like" method="post">
                    <input type="hidden" name="post_id" value="{{ post[0].get_id() }}">
                    <input type="hidden" name="previous_page" value="community?comm={{ comm.get_id() }}">
                    {% if post[1] == 'liked' %}
                        <button class="post_likes liked" id="like_{{ post[0].get_id() }}">Like | {{ post[0].get_likes() }}</button>
                    {% else %}
                        <button class="post_likes" id="like_{{ post[0].get_id() }}">Like | {{ post[0].get_likes() }}</button>
                    {% endif %}
                </form>
                <form action="/dislike" method="post">
                    <input type="hidden" name="post_id" value="{{ post[0].get_id() }}">
                    <input type="hidden" name="previous_page" value="community?comm={{ comm.get_id() }}">
                    {% if post[1] == 'disliked' %}
                        <button class="post_dislikes disliked" id="dislike_{{ post[0].get_id() }}"> Dislike | {{ post[0].get_dislikes() }}</button>
                    {% else %}
                        <button class="post_dislikes" id="dislike_{{ post[0].get_id() }}"> Dislike | {{ post[0].get_dislikes() }}</button>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}

{% block right %}
    <figure class="right_top_menu">
        <a href="/settings"><img class="settings_icon" src="https://cdn.discordapp.com/attachments/821417452562546718/846742544020537355/outline_tune_black_24dp.png"  alt="settings"/></a>
        <a href="/profile?user={{ user.get_id() }}"><img class="user_profile_pic" src="{{ user.get_picture_link() }}"  alt="profile"/></a>
        <a href="/logout"><img class="" src="https://cdn.discordapp.com/attachments/821417452562546718/846851924238270494/outline_logout_black_24dp.png"/></a>
    </figure>
    <ul class="right_side_menu">
        <li><a href="/"><img class="icon" src="{{ url_for('static', filename='outline_cottage_black_24dp.png') }}" alt="feed"><span class="link_text">Feed</span></a></li>
        <li><a href="/amis"><img class="icon" src="{{ url_for('static', filename='outline_group_black_24dp.png') }}" alt="amis"><span class="link_text">Amis</span></a></li>
        <li><a href="/post/"><img class="icon" src="{{ url_for('static', filename='outline_rate_review_black_24dp.png') }}" alt="post"><span class="link_text">Post</span></a></li>
    </ul>
{% endblock %}