{% extends 'base.html' %}
{% block title %}Friend Requests{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">{% endblock %}
{% block left %}
    <h2 class="sub_title">Communities:</h2>
    <ul class="sub_list">
        {% for sub in subs %}
            <li><a href="#"><img class="sub_img" src="{{ sub.get_icon_link() }}"><h4>{{ sub.get_name() }}</h4></a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <div class="amis-suggestions">
        <form class="request-form" action="{{ url_for('amis') }}" method="post">
            <input type="text" placeholder="Entrez le nom d'utilisateur :" name="username" id="username">
            <div class="msg">{{ msg }}</div>
            <input class="submit-button" type="submit" value="Demander en ami">
        </form>
        {% for r in requ %}
        <form action="{{ url_for('amis') }}" method="post">
            <p>{{ r[1] }}</p>
            <input type="hidden" value="{{ r[0] }}" name="request_id" id="request_id">
            <input type="hidden" value="{{ r[2] }}" name="user_id" id="user_id">
            <div class="msg2">{{ msg2 }}</div>
            <input class="submit-button" type="submit" value="Accepter">
        </form>
        {% endfor %}
    </div>
    <div class="amis-liste">

    </div>

{% endblock %}

{% block right %}
    <figure class="right_top_menu">
        <a href="#"><img class="settings_icon" src="https://www.iconpacks.net/icons/2/free-settings-icon-3110-thumb.png"  alt="settings"/></a>
        <a href="#"><img class="user_profile_pic" src="{{ user.get_picture_link() }}"  alt="profile"/></a>
    </figure>
    <ul class="right_side_menu">
        <li><a href="/"><img class="icon" src="{{ url_for('static', filename='home.png') }}" alt="feed"><span class="link_text">Feed</span></a></li>
        <li class="current_page"><a href="/amis"><img class="icon" src="{{ url_for('static', filename='sugg.png') }}" alt="amis"><span class="link_text">Amis</span></a></li>
        <li><a href="#"><img class="icon" src="{{ url_for('static', filename='sub.png') }}" alt="subquinox"><span class="link_text">Subquinox</span></a></li>
        <li><a href="#"><img class="icon" src="{{ url_for('static', filename='notification.png') }}" alt="bell"><span class="link_text">Notifications</span></a></li>
    </ul>
{% endblock %}