{% extends 'base.html' %}
{% block title %}Friend Requests{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='amis.css') }}">{% endblock %}
{% block left %}
    <h2 class="sub_title">Communities:</h2>
    <ul class="sub_list">
        {% for sub in subs %}
            <li><a href="#"><img class="sub_img" src="{{ sub.get_icon_link() }}"><h4>{{ sub.get_name() }}</h4></a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="amis-gauche">
            <div class="amis-demandes">
                {% for r in requ %}
                <form action="{{ url_for('amis') }}" method="post">
                    <p>{{ r[1] }}</p>
                    <input type="hidden" value="{{ r[0] }}" name="request_id" id="request_id">
                    <input type="hidden" value="{{ r[2] }}" name="user_id" id="user_id">
                    <div class="msg2">{{ msg2 }}</div>
                    <input class="submit-button" type="submit" value="Accepter">
                </form>
                {% endfor %}
            </div>
            <div class="amis-liste">
                {% for ami in amis %}
                <div class="ami">
                    <img class="photo-ami" src="{{ ami[2] }}" alt="photo de profil"/>
                    <h3 class="nom-ami">{{ ami[1] }}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="amis-droite">
            <form class="request-form" action="{{ url_for('amis') }}" method="post">
                <input type="text" placeholder="Entrez le nom d'utilisateur :" name="username" id="username">
                <div class="msg">{{ msg }}</div>
                <input class="submit-button" type="submit" value="Demander en ami">
            </form>
            <div class="amis-suggestions">
                <ul>
                    <li>Suggestion 1 : fjzeofzef</li>
                    <li>Suggestion 2 : zjzfzefzef</li>
                    <li>Suggestion 3 : zefzefzefzef</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block right %}
    <figure class="right_top_menu">
        <a href="/profile"><img class="settings_icon" src="https://cdn.discordapp.com/attachments/821417452562546718/846742544020537355/outline_tune_black_24dp.png"  alt="settings"/></a>
        <a href="/profile"><img class="user_profile_pic" src="{{ user.get_picture_link() }}"  alt="profile"/></a>
        <a href="/logout"><img class="" src="https://cdn.discordapp.com/attachments/821417452562546718/846851924238270494/outline_logout_black_24dp.png"/></a>
    </figure>
    <ul class="right_side_menu">
        <li><a href="/"><img class="icon" src="{{ url_for('static', filename='home.png') }}" alt="feed"><span class="link_text">Feed</span></a></li>
        <li class="current_page"><a href="/amis"><img class="icon" src="{{ url_for('static', filename='sugg.png') }}" alt="amis"><span class="link_text">Amis</span></a></li>
        <li><a href="/post/"><img class="icon" src="{{ url_for('static', filename='penne.png') }}" alt="post"><span class="link_text">Post</span></a></li>
        <li><a href="#"><img class="icon" src="{{ url_for('static', filename='notification.png') }}" alt="bell"><span class="link_text">Notifications</span></a></li>
    </ul>
{% endblock %}