{% extends 'base.html' %}
{% block title %}HOME{% endblock %}

{% block left %}
    <h2 class="sub_title">Communities:</h2>
    <ul class="sub_list">
        {% for sub in subs %}
            <li style="background-image: url('{{ sub.get_icon_link() }}');"><a href="#">{{ sub.get_name() }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <h2 class="content_title">Your Feed:</h2>
    <div class="the_posts">
    {% for post in posts %}
        <div class="single_post">
            <div class="post_identity">
                <p class="post_author">{{ post.get_author() }}</p>
                <p class="post_community">Subquinox : {{ post.get_community().get_name() }}</p>
            </div>
            <h4 class="post_title">{{ post.get_title() }}</h4>
            {% if post.has_image() %}
            <img class="post_image" src='{{ post.get_image() }}' alt="post" />
            {% endif %}
            <p class="post_content">{{ post.get_text() }}</p>
            <div class="post_feedback">
                <p class="post_likes">Likes : {{ post.get_likes() }}</p>
                <p class="post_dislikes"> Dislikes : {{ post.get_dislikes() }}</p>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}


{% block right %}
    <figure class="right_top_menu">
        <a href="#"><img class="settings_icon" src="https://www.iconpacks.net/icons/2/free-settings-icon-3110-thumb.png"  alt="settings"/></a>
        <a href="#"><img class="user_profile_pic" src="{{ user.get_picture_link() }}"  alt="profile"/></a>
    </figure>
    <ul class="right_side_menu">
        <li class="current_page"><a href="#"><span class="link_text">Feed</span></a></li>
        <li><a href="#"><span class="link_text">Suggestions</span></a></li>
        <li><a href="#"><span class="link_text">Subquinox</span></a></li>
        <li><a href="#"><span class="link_text">Notifications</span></a></li>
    </ul>
{% endblock %}