{% extends 'base.html' %}
{% block title %}HOME{% endblock %}

{% block content %}
    <h2 class="content_title">Connexion</h2>
    <div class="container">
        <form action="{{ url_for('login') }}" method="post">
            <label for="username"><b>Pseudo</b></label>
            <input type="text" placeholder="Entrez votre pseudo" name="username" id="username" required>
            <label for="password"><b>Mot de passe</b></label>
            <input type="password" placeholder="Entrez votre mot de passe" name="password" id="password" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Login">
        </form>
    </div>

{% endblock %}