<!doctype html>
<html>
<head>
  <title>Login - Equinox</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
<div class="login-box">
  <div class="menu">
    <a href="./login" class="current">LOGIN</a>
    <a href="./register">REGISTER</a>
  </div>
  <form action="{{ url_for('login') }}" method="post">
    <div class="user-box">
      <input type="text" placeholder="Entrez votre pseudo" name="username" id="username" required>
      <input type="password" placeholder="Entrez votre mot de passe" name="password" id="password" required>
      <div class="msg">{{ msg }}</div>
      <input class="submit-button" type="submit" value="Login">
    </div>
    <div class="msg">{{ msg }}</div>
  </form>
</div>
</body>
</html>