{% extends 'base.html' %}
{% block title %}Creer un post{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='post.css') }}">{% endblock %}
{% block left %}
    <h2 class="sub_title">Subquinox:</h2>
    <ul class="sub_list">
        {% for sub in subs %}
            <li><a href="#"><img class="sub_img" src="{{ sub.get_icon_link() }}"><h4>{{ sub.get_name() }}</h4></a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <form class="post-form" action="{{ url_for('post') }}" method="post">
        <div class="post-form-top">
            <input class="text-input" type="text" name="titre" id="titre" placeholder="Entrez le titre:">
            <select class="text-input" name="community" id="community">
                {% for sub in subs %}
                <option value="{{ sub.get_id() }}">{{ sub.get_name() }}</option>
                {% endfor %}
            </select>
        </div>
        <textarea id="content" name='content' rows="20" cols="50"></textarea>
        <div class="post-form-bottom">
            <input class="text-input" type="text" name="img" id="img" placeholder="Lien de l'image? facultatif">
            <input type="submit" value="Poster">
        </div>
        <p>{{ msg }}</p>

    </form>
{% endblock %}

{% block right %}
    <figure class="right_top_menu">
        <a href="/profile"><img class="settings_icon" src="https://cdn.discordapp.com/attachments/821417452562546718/846742544020537355/outline_tune_black_24dp.png"  alt="settings"/></a>
        <a href="/profile"><img class="user_profile_pic" src="{{ user.get_picture_link() }}"  alt="profile"/></a>
        <a href="/logout"><img class="" src="https://cdn.discordapp.com/attachments/821417452562546718/846851924238270494/outline_logout_black_24dp.png"/></a>
    </figure>
    <ul class="right_side_menu">
        <li><a href="/"><img class="icon" src="{{ url_for('static', filename='home.png') }}" alt="feed"><span class="link_text">Feed</span></a></li>
        <li><a href="/amis"><img class="icon" src="{{ url_for('static', filename='sugg.png') }}" alt="suggestions"><span class="link_text">Amis</span></a></li>
        <li class="current_page"><a href="/post/"><img class="icon" src="{{ url_for('static', filename='penne.png') }}" alt="post"><span class="link_text">Post</span></a></li>
        <li><a href="#"><img class="icon" src="{{ url_for('static', filename='notification.png') }}" alt="bell"><span class="link_text">Notifications</span></a></li>
    </ul>
{% endblock %}