{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">{% endblock %}
{% block left %}
    <h2 class="sub_title">Communities:</h2>
    <ul class="sub_list">
        {% for sub in subs %}
            <li><a href="#"><img class="sub_img" src="{{ sub.get_icon_link() }}"><h4>{{ sub.get_name() }}</h4></a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <form class="profile-form" action="{{ url_for('profile') }}" method="post">
            <label for="username">Nom d'utilisateur :</label><br />
            <input class="text-input" type="text" placeholder="Entrez votre pseudo" name="username" id="username" value="{{ user.get_username() }}" required><br />
            <label for="password">Mot de passe :</label><br />
            <input class="text-input" type="password" placeholder="Entrez votre mot de passe" name="password" id="password" value="{{ user.get_password() }}" required><br />
            <label for="firstname">Prénom :</label><br />
            <input class="text-input" type="text" placeholder="Entrez votre prénom" name="firstname" id="firstname" value="{{ user.get_firstname() }}"><br />
            <label for="lastname">Nom :</label><br />
            <input class="text-input" type="text" placeholder="Entrez votre nom" name="lastname" id="lastname" value="{{ user.get_lastname() }}"><br />
            <label for="img_link">Lien de photo de profil :</label><br />
            <input class="text-input" type="text" placeholder="Entrez le lien" name="img_link" id="img_link" value="{{ user.get_picture_link() }}"><br />
            <label for="bio">Bio :</label><br />
            <textarea class="text-input" rows="20" cols="50" name="bio" id="bio">{{ user.get_bio() }}</textarea>
            <div class="msg">{{ msg }}</div>
            <input class="submit-button" type="submit" value="Mettre à jour">
        </form>
{% endblock %}

{% block right %}
    <figure class="right_top_menu">
        <a href="#"><img class="settings_icon" src="https://www.iconpacks.net/icons/2/free-settings-icon-3110-thumb.png"  alt="settings"/></a>
        <a href="#"><img class="user_profile_pic" src="{{ user.get_picture_link() }}"  alt="profile"/></a>
    </figure>
    <ul class="right_side_menu">
        <li><a href="/"><img class="icon" src="{{ url_for('static', filename='home.png') }}" alt="feed"><span class="link_text">Feed</span></a></li>
        <li><a href="/suggestions/"><img class="icon" src="{{ url_for('static', filename='sugg.png') }}" alt="suggestions"><span class="link_text">Suggestions</span></a></li>
        <li><a href="#"><img class="icon" src="{{ url_for('static', filename='sub.png') }}" alt="subquinox"><span class="link_text">Subquinox</span></a></li>
        <li><a href="#"><img class="icon" src="{{ url_for('static', filename='notification.png') }}" alt="bell"><span class="link_text">Notifications</span></a></li>
    </ul>
{% endblock %}