{% extends 'base.html' %}

{% block title %}Profil - {{ user.get_username() }}{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">{% endblock %}

{% block left %}
    <h2 class="sub_title">Subquinox:</h2>
    <ul class="sub_list">
        {% for sub in subs %}
            <li><a href="/community?comm={{ sub.get_id() }}"><img class="sub_img" src="{{ sub.get_icon_link() }}"><h4>{{ sub.get_name() }}</h4></a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <h2 class="content_title">Page de {{ user.get_username() }} :</h2>
    <div class="profile-content">
        <img class="user-profile-picture" src="{{ user.get_picture_link() }}" alt="profile picture" />
        <p class="user-profile-name">{{ user.get_firstname() }} {{ user.get_lastname() }}</p>
        <p class="user-bio">{{ user.get_bio() }}</p>
    </div>
    <div class="the_posts">
    {% for post in posts %}
        <div class="single_post">
            <div class="post_identity">
                <p class="post_author">{{ post.get_author() }}</p>
                {% if post.has_community() %}
                <p class="post_community">Subquinox : {{ post.get_community().get_name() }}</p>
                {% endif %}
                <p class="post_date">{{ post.get_date() }}</p>
            </div>
            <h4 class="post_title">{{ post.get_title() }}</h4>
            {% if post.has_image() %}
            <img class="post_image" src='{{ post.get_image() }}' alt="post" />
            {% endif %}
            <p class="post_content">{{ post.get_text() }}</p>
            <div class="post_feedback">
                <form action="/like_post/" method="post">
                    <input type="hidden" name="post_id" value="post.get_id()">
                    <button class="post_likes" id="like_{{ post.get_id() }}">Like | {{ post.get_likes() }}</button>
                </form>
                <button class="post_dislikes" id="dislike_{{ post.get_id() }}"> Dislike | {{ post.get_dislikes() }}</button>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block right %}
    <figure class="right_top_menu">
        <a href="/settings"><img class="settings_icon" src="https://cdn.discordapp.com/attachments/821417452562546718/846742544020537355/outline_tune_black_24dp.png"  alt="settings"/></a>
        <a href="/profile?user={{ user2.get_id() }}"><img class="user_profile_pic" src="{{ user2.get_picture_link() }}"  alt="profile"/></a>
        <a href="/logout"><img class="" src="https://cdn.discordapp.com/attachments/821417452562546718/846851924238270494/outline_logout_black_24dp.png"/></a>
    </figure>
    <ul class="right_side_menu">
        <li><a href="/"><img class="icon" src="{{ url_for('static', filename='outline_cottage_black_24dp.png') }}" alt="feed"><span class="link_text">Feed</span></a></li>
        <li><a href="/amis"><img class="icon" src="{{ url_for('static', filename='outline_group_black_24dp.png') }}" alt="amis"><span class="link_text">Amis</span></a></li>
        <li><a href="/post/"><img class="icon" src="{{ url_for('static', filename='outline_rate_review_black_24dp.png') }}" alt="post"><span class="link_text">Post</span></a></li>
    </ul>
{% endblock %}