{% extends 'base.html' %}
{% block title %}HOME{% endblock %}

{% block content %}
<link rel="stylesheet" href="style.css">
    <h2 class="content_title">S'enregistrer</h2>
    <div class="registercontainer">
        <form action="{{ url_for('login') }}" method="post">
            <label for="username"><b>Pseudo</b></label><br />
            <input type="text" placeholder="Entrez votre pseudo" name="username" id="username" required><br />
            <label for="mail"><b>Mail</b></label><br />
            <input type="text" placeholder="Entrez votre mail" name="mail" id="mail" required><br />
            <label for="password"><b>Mot de passe</b></label><br />
            <input type="password" placeholder="Entrez votre mot de passe" name="password" id="password" required><br />
            <label for="confirmpassword"><b>Confirmez votre mot de passe</b></label><br />
            <input type="confirmpassword" placeholder="Confirmez votre mot de passe" name="comfirmpassword" id="confirmpassword" required><br />
            <input type="checkbox" name="conditionsutilisation" value="conditionsutilisation" required/>En cochant cette case je m'engage à respecter les conditions d'utilisation d'Equinox.<br/>

            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Register">
        </form>
    </div>

{% endblock %}